
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


#page {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100;
}

header {
  min-height: 350px;
  padding: 0px 1.25em;
  background: linear-gradient(rgba(70,130,180,0.7),
  rgba(70,130,180,0.7)), url("../images/beachwavesHeader.jpg");
  background-size: cover;
  vertical-align: middle;
  text-align: center;
  font-family: 'PT Sans', sans-serif;

  nav {
    padding: 0;
    display: inline-block;
    text-align: left;
  }
}



.leftnav {
  float: left;
  img {
    display: inline;
  }
}



.rightnav {
  float: left;
  margin-left: 15em;
  padding: 0;
  li {
    display: inline-block;
  }
  li:first-child {
    padding-right: 2em;
  }
}



.headline {
  h1 {
  font-size: 3.5em;
  text-align: center;
  color: white;
  padding-top: 30px;
  margin-bottom: 0;
  }
  h6 {
    font-size: 0.375em;
    text-align: center;
    margin-top: 0;
  }
}


/*   END HEADER   */


.contentCLEARFIX {
  width: 90%;
  margin: 0 auto;
  &:before, $:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }

}


article {
  width: 61.66666666%;
  float: left;
  color: #5d6a71;
  font-family:'PT Sans', sans-serif;
  font-size: 0.875em;
  margin: 0% 5% 0% 0%;
  padding: 0;
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin-bottom: 1px;
    color: black;
  }
  p {
    margin-bottom: 2px;
  }
  blockquote {
    font-family: 'Open Sans', sans-serif;
    color: #406DAF;
    font-size: 1.375em;
  }
}


.NameDate {
  font-size: 0.625em;
  color: #ABB5C1;
  margin-top: 2px;
}


img.CircleImage {
  border-radius: 100%;
  width: 5%;
}


/* BUTTONS */

.buttons {
  margin-left: 0;
  padding-left: 0;
  font-family:'PT Sans', sans-serif;
}

.buttons > i {
  display: inline;
  position: relative;

}

li#Comments, li#ReadLater {
  background-color: #a6b1bd;
  display: inline-block;
}

li#Share {
  background-color: #406caf;
  display: inline-block;
}

.buttons a {
  color: white;
  font-size: 0.75em;
}


#Comments img, #Comments span {
  vertical-align: middle;
}

#ReadLater img, #ReadLater span {
  vertical-align: middle;
}

#Share img, #Share span {
  vertical-align: middle;
}


/* imported icons from fort awesome */

.fa.fa-comment,.fa.fa-cloud-upload,.fa.fa-share-square{
  color:white;
  padding-left:0.5em;
  padding-right:0.5em;
}


/* END MAIN SECTION, LEFT COLUMN */



.asideWrapper {
  width: 33.33333333333%;
  float: left;
  color:#ABB5C1;
  margin: 0;
  padding: 0;
}


.userInfo {
  margin: 0 auto;
  display: block;
}

.userInfo .CircleImage2 {
  border-radius: 100%;
  width: 25%;
  align: center;
  position: relative;
  margin: 30px 1.25em 0px 6.25em;
}

.AnneMarieName {
  margin: 0 auto;
  text-align: center;
}

.SocialMedia li {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  font-size: 0.625em;
  margin-top: 0px;
}

.sidebarad {
  margin: 0 auto;
}

img.SUPImage {
  /*   display: block; */
  text-align: center;

}

.AboutAd {
  text-align: right;
  font-size: 0.313em;
}

#heading {
  color:#406DAF;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

.SidebarSection {
  margin: 0 auto;
  font-size: 0.625em;
  font-family:'PT Sans', sans-serif;
}


END MAIN SECTION, RIGHT COLUMN

#Posthead {

  display: block;
  margin: 0 auto;
  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    background-color: white;
    text-align: center;
  }

}


.PopularPosts {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  a {
    display: inline;
  }
  p {
    margin-top: 200px;
    margin-left: 0.625em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    color: black;
  }

}


.LongerPost p {
  margin-top: 170px;
}

.CoolPost, .PostTitle, .LongerPost, .CoolaPost {
  width: 240px;
  height: 240px;
  float: left;
  display: inline;
}


.CoolPost {
  background: linear-gradient(
    rgba(70,130,180,0.7),
    rgba(70,130,180,0.7)),
    url("../images/KellySlater240240.jpg");
    background-size: cover;
    background-position: center;
    &:hover {
      background: none;
      background-image: url("../images/KellySlater240240.jpg");
    }
  }


.PostTitle {
      background: linear-gradient(
      rgba(70,130,180,0.7),
      rgba(70,130,180,0.7)),
      url("../images/Beer240240.jpg");
      background-size: cover;
      background-position: center;
      &:hover {
        background: none;
        background-image: url("../images/Beer240240.jpg");
      }
    }

.LongerPost {
      background: linear-gradient(
        rgba(70,130,180,0.7),
        rgba(70,130,180,0.7)),
        url("../images/Zach240240.jpg");
        &:hover {
          background: none;
          background-image: url("../images/Zach240240.jpg");
        }
      }

.CoolaPost {

        background: linear-gradient(
          rgba(70,130,180,0.7),
          rgba(70,130,180,0.7)),
          url("../images/LiquorBottles240240.jpg");
          &:hover {
            background: none;
            background-image: url("../images/LiquorBottles240240.jpg");
          }
        }

/* END POPULAR POSTS SECTION */

        .footer-wrapper {
          width: 100%;
          background-color: #213752;
          height: 55px;
          color: #ABB5C1;
          /*   display: inline-block; */
          font-size: 0.563em;
          overflow: hidden;
          img {
            float: left;
            width: 3.438em;
            margin-left: 10%;
          }
        }

        #copyright {
          float: left;
          /*   width: 26.25em;
          margin-top: 1.25em;
          } */

          footer nav {
            float: right;
            /*   margin-right: 6.25em;
            margin-top: -1.75em; */
            color: #abb5c1;
          }

          footer nav a{
            color: #abb5c1;
          }

          footer nav ul li {
            display: inline;
            padding-right: 0.31em;
            border-right: 0.063em solid;
            border-color: gray;
            margin-right: 0.313em;
            &:last-child {
              border-right: none;
            }
          }


/* *********  MEDIA QUERIES  ************/
