$textColorarticle: #5d6a71;
$secondaryColorLight:#ABB5C1;
$secondaryColorMid: #406DAF;


@mixin linGradbackground ($imagePath: url("../images/beachwavesHeader.jpg") ) {
  background: linear-gradient(rgba(70, 130, 180,0.7),
  rgba(70, 130, 180,0.7)), $imagePath;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}


h1, h2, h4, h5, h6 {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.625em;
}

h6 {
  font-size: 0.375em;
}



ul {
  margin: 0;
  padding: 1em 0 0 0;
  list-style-type: none;
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}



header {
  min-height: 350px;
  padding: 0px 1.25em;
  font-family: 'PT Sans', sans-serif;
  @include linGradbackground ();
  nav {
    padding: 0;
    display: inline-block;
    text-align: left;
  }
}



.leftnav {
  float: left;
  img {
    display: inline;
  }
}



.rightnav {
  float: left;
  margin-left: 15em;
  padding: 0;
/*   li:first-child {
  padding-right: 2em;
} */
}



.headline {
  h1 {
  color: white;
  padding-top: 30px;
  }
}


/*   END HEADER   */


.contentCLEARFIX {
  width: 90%;
  margin: 0 auto;
}

.contentCLEARFIX:before, .contentCLEARFIX:after {
  content: "";
  display: table;
}

.contentCLEARFIX:after {
  clear: both;
}


article {
  width: 61.66666666%;
  float: left;
  color: $textColorarticle;
  font-family:'PT Sans', sans-serif;
  font-size: 0.875em;
  margin: 0% 5% 0% 0%;
  padding: 2em 0;
  h2 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1px;
    color: black;
    text-align: left;
  }
  p {
    margin-bottom: 2px;
  }
  blockquote {
    font-family: 'Open Sans', sans-serif;
    color: $secondaryColorMid;
    font-size: 1.375em;
  }
}


.NameDate {
  font-size: 0.625em;
  color: $secondaryColorLight;
  margin-top: 2px;
}


img.CircleImage {
  border-radius: 100%;
  width: 5%;
}


/* BUTTONS */

.buttons {
  font-family:'PT Sans', sans-serif;
  li#Comments, li#ReadLater {
    background-color: $secondaryColorLight;
  }
  li#Share {
    background-color: $secondaryColorMid;
  }
  a {
    color: white;
    font-size: 0.75em;
  }
  i {
    display: inline;
    position: relative;
  }
}

#Comments img, #Comments span {
  vertical-align: middle;
}

#ReadLater img, #ReadLater span {
  vertical-align: middle;
}

#Share img, #Share span {
  vertical-align: middle;
}


/* imported icons from fort awesome */

.fa.fa-comment,.fa.fa-cloud-upload,.fa.fa-share-square{
  color:white;
  padding-left:0.5em;
  padding-right:0.5em;
}


/* END MAIN SECTION, LEFT COLUMN */



.asideWrapper {
  width: 33.33333333333%;
  float: left;
  color:$secondaryColorLight;
  margin: 0;
  padding: 0;
}


.userInfo {
  margin: 0 auto;
  display: block;
  .CircleImage2 {
    border-radius: 100%;
    width: 25%;
    align: center;
    position: relative;
    margin: 30px 1.25em 0px 6.25em;
  }
}


.AnneMarieName {
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.SocialMedia li {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  margin: 0 auto;
  font-size: 0.625em;
  font-family:'PT Sans', sans-serif;
}


.sidebarad {
  margin: 0 auto;
}

img.SUPImage {
  /*   display: block; */
  text-align: center;

}

.AboutAd {
  text-align: right;
  font-size: 0.313em;
}

#heading {
  color:$secondaryColorMid;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
}

.SidebarSection {
  margin: 0 auto;
  font-size: 0.625em;
  font-family:'PT Sans', sans-serif;
}


END MAIN SECTION, RIGHT COLUMN

#Posthead h2 {
    font-family: 'Oswald', sans-serif;
  }



.PopularPosts {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  a {
    display: inline;
  }
  p {
    margin-top: 200px;
    margin-left: 0.625em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    color: black;
  }

}


.LongerPost p {
  margin-top: 170px;
}

.CoolPost, .PostTitle, .LongerPost, .CoolaPost {
  width: 240px;
  height: 240px;
  float: left;
  display: inline;
}


.CoolPost {
  @include linGradbackground (url("../images/KellySlater240240.jpg"));

  &:hover {
      background: none;
      background-image: url("../images/KellySlater240240.jpg");
    }
  }


.PostTitle {
  @include linGradbackground (url("../images/Beer240240.jpg"));

  &:hover {
        background: none;
        background-image: url("../images/Beer240240.jpg");
      }
    }

.LongerPost {
  @include linGradbackground (url("../images/Zach240240.jpg"));
  &:hover {
          background: none;
          background-image: url("../images/Zach240240.jpg");
        }
      }

.CoolaPost {
  @include linGradbackground (url("../images/LiquorBottles240240.jpg"));

  &:hover {
            background: none;
            background-image: url("../images/LiquorBottles240240.jpg");
          }
        }

/* END POPULAR POSTS SECTION */

        .footer-wrapper {
          width: 100%;
          background-color: #213752;
          height: 55px;
          color: $secondaryColorLight;
          /*   display: inline-block; */
          font-size: 0.563em;
          overflow: hidden;
          img {
            float: left;
            width: 3.438em;
            margin-left: 10%;
          }
          #copyright {
            float: left;
            font-family:'PT Sans', sans-serif;
          }
          nav ul {
            float: right;
          }
        }

          footer nav {
            float: right;
            color: $secondaryColorLight;
            li {
              padding-right: 0.31em;
              border-right: 0.063em solid;
              border-color: gray;
              margin-right: 0.313em;
              a {
                font-family:'PT Sans', sans-serif;
                color: $secondaryColorLight;
              }
            }
          }
